extends ../layout

block content
    div(class="formu")
        form(class="border form" action="" method="post")
            div.titulo
                h2= "Iniciar sesión"
            div(class="dato width-large large")
                label(for="mail") Correo: 
                input(type="email" name="mail" placeholder="Correo")
            div(class="dato width-large large")
                label(for="pass") Contraseña: 
                input(type="password" name="pass" placeholder="Contraseña")
            div(class="botonera")
                input(type="submit", id="button", value="Ingresar")
    div(class="sub")
        a(href="/usuario/signup")= "Registrate"